<template>
  <ul class="nav nav-pills">
    <router-link class="nav-link" to="/" active-class="active" exact
      ><a>Home</a></router-link
    >
    <router-link class="nav-link" to="/customer" active-class="active" exact
      ><a>Customer</a></router-link
    >
    <router-link
      class="nav-link"
      to="/customer/register"
      active-class="active"
      exact
      ><a>Register Customer</a></router-link
    >
  </ul>
</template>