<template>
  <div class="container">
    <div class="row">
      <app-navbar></app-navbar>
    </div>
    <router-view></router-view>
  </div>
</template>

<script>
import Navbar from "./components/Navbar.vue";

export default {
  components: {
    appNavbar: Navbar,
  },
};
</script>

<style>
</style>