<template>
<div>
  <div class="row" v-on:click="showDetails = !showDetails">
    <h5 class="basic-info">
      - {{ user.firstName }} {{ user.lastName }} {{ user.afm }}
    </h5>
  </div>
  <div class="row" v-if="showDetails">
      Phone: {{ user.phoneNumber }}
  </div>
  <div class="row" v-if="showDetails">
      Email: {{ user.email }}
  </div>
</div>
</template>

<script>
export default {
  props: {
    user: Object,
  },
  data: function() {
      return {
          showDetails: false
      }
  }
};
</script>

<style scoped>
.basic-info {
    font-weight: bolder;
}
</style>