<template>
  <div>
    <h1>Customers</h1>
    <hr/>
    <app-customer-modal
      v-for="user in users"
      v-bind:key="user.id"
      :user="user"
    ></app-customer-modal>
  </div>
</template>

<script>
import CustomerModal from "./CustomerModal.vue";

export default {
  components: {
    appCustomerModal: CustomerModal,
  },
  data: function () {
    return {
      users: [],
    };
  },
  mounted: function () {
    this.$http
      .get("customer")
      .then((response) => {
        return response.json();
      })
      .then((data) => {
        const resultArray = [];
        for (let key in data) {
          resultArray.push(data[key]);
        }
        this.users = resultArray;
      });
  },
};
</script>

<style scoped>
</style>