<template>
  <div class="container">
    <div>
      <app-customer-list></app-customer-list>
    </div>
  </div>
</template>

<script>
import CustomerList from "./CustomerList.vue";

export default {
  components: {
    appCustomerList: CustomerList,
  },
};
</script>

<style>
</style>