<template>
  <div class="container">
    <h1>Register Customer</h1>
    <hr />
    <div>
      <div class="form-group">
        <label>Name</label>
        <input class="form-control" type="text" v-model="user.firstName" />
      </div>
      <div class="form-group">
        <label>Last Name</label>
        <input class="form-control" type="text" v-model="user.lastName" />
      </div>
      <div class="form-group">
        <label>Tax Number Id</label>
        <input class="form-control" type="text" v-model="user.afm" />
      </div>
      <div class="form-group">
        <label>Phone Number</label>
        <input class="form-control" type="text" v-model="user.phoneNumber" />
      </div>
      <div class="form-group">
        <label>Email</label>
        <input class="form-control" type="email" v-model="user.email" />
      </div>
      <button class="btn btn-primary" @click="submit()">Submit Form</button>
    </div>
  </div>
</template>

<script>
export default {
  data: function () {
    return {
      user: {
        firstName: "",
        lastName: "",
        afm: "",
        phoneNumber: "",
        email: "",
      },
    };
  },
  methods: {
    submit: function () {
      this.$http.post("http://localhost:8085/customer", this.user).then(
        (response) => {
          console.log(response);
          alert("Customer succesfully registered!");
        },
        (error) => {
          console.log(error);
        }
      );
    },
  },
};
</script>

<style scoped>
h1:hover {
  color: blue;
}
</style>